.chat{
    margin: auto;
    margin-top: 15vw;
    width: 500px;
    .bar{
        display: flex;
        width: 450px ;
        justify-content: space-between; 
    }
    .input{
        width: 500px;
    .textbox{
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        width: 450px !important;;
        height: 35px;
        width: max-content;
        margin: 0;
        border-radius: 0;
        border: 1px solid rgba(0, 0, 0, .3);
        outline: none;
    }
    .input-btn{
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        border-radius: 0;
       background: #3f51b5;
       color: white;
        height: 35px;
        width: 50px;
        border: 1px solid #3f51b5;
    }
        }

        .messages{
            display: flex;
            flex-direction: column;
            height: 600px;
        }

}

.message{
    margin: 10px;
    display:flex;
    .name{
        color: #9a9a9a;
        margin: 0 5px 0 5px;
    }
    .text{
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
        background: #3f51b5;
        color: white;
    }
}
.message-rev{
    margin: 10px;
    display:flex;
    justify-content: flex-end;
    .name{
        color: #9a9a9a;
        margin: 0 5px 0 5px;
    }
    .text{
        box-sizing: border-box;
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
        background: #ebebeb;
        color: black;
    }
}